.header {
  background-color: PapayaWhip;
}

.info {
  background-color: MintCream;
  color: purple;
}

.center-photo-large {
  display: block;
  width: 80%;
  margin: auto;
}

.description-text {
  background-color: hsl(10deg, 10%, 90%);
  color: #1100c2;

}
